In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

/var/folders/lw/kbxvzzqd0kg2sn8yyy_5nvn40000gn/T/ipykernel_10596/3518497262.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Preprocessing

In [2]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

# Now, try reading the CSV file again
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=["EIN", "NAME"])
clean_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
appCounts = clean_application_df["APPLICATION_TYPE"].value_counts()
appCounts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appCounts[appCounts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
   clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classCounts = clean_application_df["CLASSIFICATION"].value_counts()
classCounts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classCounts1 = classCounts[classCounts>1]
classCounts1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classCounts[classCounts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
num_application_df= pd.get_dummies(clean_application_df)
num_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays (X,y)
y= num_application_df["IS_SUCCESSFUL"]
X= num_application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [12]:
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=n_input_features,units=80,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30,activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='relu'))

# Check the structure of the model
nn.summary()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/core/dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [18]:
X_train = X_train.astype(float)
y_train = y_train.astype(float)

In [19]:
# Train the model
fit_model= nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 387us/step - accuracy: 0.4717 - loss: 8.5147
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.4712 - loss: 8.5237
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.4638 - loss: 8.6425
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.4726 - loss: 8.5002
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.4669 - loss: 8.5922
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step - accuracy: 0.4677 - loss: 8.5796
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 394us/step - accuracy: 0.4728 - loss: 8.4972
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.4766 - loss: 8.4365
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step - accuracy: 0.4718 - loss: 8.5133
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.4694 - loss: 8.5524
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.4703 - loss: 8.5379
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.4711 - loss: 8.5252
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.4624 - loss: 8.6647
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4649 - loss: 8.6256
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.4755 - loss: 8.4534
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.4659 - loss: 8.6094
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4716 - loss: 8.5167
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.4642 - loss: 8.6362
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 351us/step - accuracy: 0.4697 - loss: 8.5478
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4693 - loss: 8.5536
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.4711 - loss: 8.5242
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4674 - loss: 8.5839
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4694 - loss: 8.5519
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.4646 - loss: 8.6293
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4677 - loss: 8.5803
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4705 - loss: 8.5352
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.4678 - loss: 8.5783
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4699 - loss: 8.5444
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4656 - loss: 8.6136
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4628 - loss: 8.6579
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.4631 - loss: 8.6533
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - accuracy: 0.4724 - loss: 8.5045
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.4657 - loss: 8.6115
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4670 - loss: 8.5905
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4719 - loss: 8.5119
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4699 - loss: 8.5435
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4680 - loss: 8.5747
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - accuracy: 0.4728 - loss: 8.4983
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - accuracy: 0.4683 - loss: 8.5706
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4653 - loss: 8.6186
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4709 - loss: 8.5280
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - accuracy: 0.4713 - loss: 8.5218
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4601 - loss: 8.7029
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4662 - loss: 8.6036
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4746 - loss: 8.4678
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.4719 - loss: 8.5118
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4703 - loss: 8.5370
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4707 - loss: 8.5314
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4699 - loss: 8.5447
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4675 - loss: 8.5827
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4672 - loss: 8.5880
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4704 - loss: 8.5355
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4672 - loss: 8.5882
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4702 - loss: 8.5386
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - accuracy: 0.4675 - loss: 8.5830
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.4721 - loss: 8.5091
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 386us/step - accuracy: 0.4727 - loss: 8.4986
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step - accuracy: 0.4716 - loss: 8.5176
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - accuracy: 0.4671 - loss: 8.5899
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - accuracy: 0.4704 - loss: 8.5362
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - accuracy: 0.4754 - loss: 8.4556
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.4646 - loss: 8.6294
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.4649 - loss: 8.6246
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.4694 - loss: 8.5528
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.4701 - loss: 8.5405
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4689 - loss: 8.5608
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4623 - loss: 8.6665
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4654 - loss: 8.6167
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.4699 - loss: 8.5450
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.4656 - loss: 8.6139
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4699 - loss: 8.5436
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4685 - loss: 8.5669
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4690 - loss: 8.5581
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.4676 - loss: 8.5818
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4696 - loss: 8.5485
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.4687 - loss: 8.5628
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4741 - loss: 8.4769
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4648 - loss: 8.6263
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4711 - loss: 8.5242
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.4662 - loss: 8.6032
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.4675 - loss: 8.5829
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.4683 - loss: 8.5698
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4667 - loss: 8.5957
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.4694 - loss: 8.5521
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.4712 - loss: 8.5227
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.4736 - loss: 8.4841
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.4664 - loss: 8.6006
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.4707 - loss: 8.5314
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.4693 - loss: 8.5544
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.4714 - loss: 8.5203
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.4637 - loss: 8.6446
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 351us/step - accuracy: 0.4730 - loss: 8.4939
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4723 - loss: 8.5056
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.4656 - loss: 8.6129
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.4634 - loss: 8.6497
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.4653 - loss: 8.6180
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.4711 - loss: 8.5245
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.4686 - loss: 8.5657
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.4693 - loss: 8.5546
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.4705 - loss: 8.5348

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 477us/step - accuracy: 0.5120 - loss: 3.0149
Loss: 3.014914035797119, Accuracy: 0.5119533538818359

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.